@model MailManager.Web.ViewModel.LoginVM
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Log in</title>
    <link rel="icon" type="image/x-icon" href="~/AdminLTE/dist/img/Dind.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/AdminLTE/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href='~/AdminLTE/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href='~/AdminLTE/dist/css/style.css'>

    <style>
        body {
            background: url('~/AdminLTE/dist/img/macos-wallpaper.jpg') no-repeat center center/cover;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .login-container {
            background: white;
            padding: 30px;
            border-radius: 20px;
            box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
            text-align: center;
            max-width: 350px;
            width: 100%;
        }

            .login-container img {
                width: 80px;
                margin-bottom: 10px;
            }

        .form-control {
            border-radius: 10px;
            padding: 10px;
            border: 1px solid #ccc;
            background: #f9f9f9;
            color: #333;
        }

            .form-control::placeholder {
                color: #888;
            }

        .btn-login {
            background: #007aff;
            color: white;
            border-radius: 10px;
            padding: 10px;
            border: none;
            transition: 0.3s;
        }

            .btn-login:hover {
                background: #005ecb;
            }

        .footer {
            color: #555;
            margin-top: 15px;
            font-size: 12px;
        }
    </style>
</head>
<body>
    <form action="/Login/Index?ReturnUrl=@ViewBag.ReturnUrl" method="post">
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false, "", new { @class = "text-danger" })

        <div class="login-container">
            <img src="~/AdminLTE/dist/img/logo.png" alt="Logo">
            <h4 style="color: #333; font-weight: 500;">MAIL BLAST</h4>
            <div class="form-group mt-3">
                @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @placeholder = "User Name", @autofocus = "autofocus" })
            </div>
            <div class="form-group">
                @Html.PasswordFor(model => model.Password, new { @class = "form-control", @placeholder = "Enter password", required = "required" })
            </div>
            <button type="submit" class="btn btn-login btn-block">Login</button>
            <div class="footer">Copyright &copy; 2025 - IT Dynacast Indonesia</div>
        </div>
    </form>
</body>
</html>
