<body>

    <center>
        <span class="loader"> </span>
        <img style="width:400px; margin-top:75px; " src="~/AdminLTE/dist/img/Login.png" alt="Homepage" />
        <h5><strong>  SEND MAIL SIMPLY AND QUICKLY</strong></h5>

    </center>

</body>

<style>

    h5 {
        margin-top: 15px;
        background-size: 1em 1em;
        color: dodgerblue;
        opacity: 1
    }
</style>